@font-face {
    font-family: Fira Code;
    src: url("../fonts/FiraCode-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: Fira Code;
    src: url("../fonts/FiraCode-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: Fira Code;
    src: url("../fonts/FiraCode-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Fira Code;
    src: url("../fonts/FiraCode-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Fira Code;
    src: url("../fonts/FiraCode-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
