/* общие стили для страницы */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 700px;
    display: block;
    margin: 0 auto;
    font-family: "Fira Code";
    position: relative;
    overflow-x: hidden;
}

/* задний фон */

/* body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/maket.svg");
    width: 700px;
    height: 12882px;
    opacity: 0.2;
    z-index: -2;
} */

/* общие свойства текста */

p {
    color: #822300;
    font-size: 17px;
}

h1,h2,h3,h4,h5,h6 {
    color: #822300;
}

/* секция 1 */

.section-1 {
height: 650px;
}

.section-1 div:nth-of-type(1) #textdif {
position: absolute;
}

.section-1 #square {
position: relative;
}

.section-1 img {
    position: relative;
}

.section-1 div:nth-of-type(1) p {
font-size: 17px;
font-weight: 400;
padding-left: 44px;
padding-top: 7px;
line-height: 22px;
}

.section-1 div:nth-of-type(1) #fira {
font-size: 96px;
font-weight: 500;
padding-top: 74px;
padding-left: 38px;
letter-spacing: -2px;
}

.section-1 div:nth-of-type(1) #textdif {
font-size: 156px;
font-weight: 500;
line-height: 158px;
letter-spacing: -2px;
width: 374px;
top: 380px;
left: 139px;
z-index: 2;
color: #FFF9FC;
mix-blend-mode: difference;
}

#square {
    width: 374px;
    height: 314px;
    top: -710px;
    left: 139px;
    z-index: -3;
    background: #FFF9FC;
}

.section-1 div:nth-of-type(2) #glif {
    width: 322px;
    top: -339px;
    left: 263px;
}

.section-1 div:nth-of-type(2) #headstar {
    width: 397px;
    top: -462px;
    left: 303px;
}

.section-1 div:nth-of-type(2) #ASCCii {
    width: 250px;
    top: -393px;
    left: -406px;
    z-index: -2;
}


/* секция 2 */

.section-2 {
    height: 458px;
}

.section-2 #square2 {
position: relative;
}

.section-2 #square3 {
position: relative;
}

.section-2 div:nth-of-type(1) p {
    margin-top: 133px;
    margin-left: 300px;
    line-height: 22px;
}

.section-2 img {
    position: relative;
}

.section-2 div:nth-of-type(2) #littlestar {
    width: 45px;
    top: -419px;
    left: 609px;
    transition: all ease 2s;
}

#littlestar:hover {
    transform: rotate(180deg);
}

.section-2 div:nth-of-type(2) #AE {
    width: 240px;
    top: -269px;
    left: -11px; 
}

.section-2 div:nth-of-type(2) #U {
    top: -216px;
    left: -305px;
    mix-blend-mode: difference;
}

#square2 {
    width: 374px;
    height: 314px;
    top: -960px;
    left: -139px;
    z-index: -3;
    background: #FFF9FC;
}

#square3 {
    width: 374px;
    height: 314px;
    top: -960px;
    left: 410px;
    z-index: -3;
    background: #FFF9FC;
}

.section-2 div:nth-of-type(2) #smileface {
    top: -10px;
    left: -140px;
}

.section-2 div:nth-of-type(2) #threesmile {
top: -286px;
left: 107px;
transition: all ease 1s;
}

#threesmile:hover {
    transform: rotate(15deg);
}

.section-2 div:nth-of-type(2) #www {
    top: -250px;
    left: 250px;
}

.section-2 div:nth-of-type(2) #neheart {
    top: -153px;
    left: 92px;
    mix-blend-mode: difference;
}

.section-2 div:nth-of-type(2) #star2 {
    top: -310px;
}

/* секция 3 */

.section-3 img {
    position: relative;
}

.section-3 #square4 {
    position: relative;
}

.section-3 {
    height: 770px;
}

.section-3 div {
    height: 630px;
}

.section-3 div:nth-of-type(1) #nikita {
    top: -131px;
    z-index: -1;
       
}

.section-3 div:nth-of-type(1) #star3 {
    top: -302px;
    left: 30px;
    mix-blend-mode: difference;
}

.section-3 div:nth-of-type(1) #star4 {
    top: -302px;
    left: 447px;
    mix-blend-mode: difference;
}

#square4 {
    width: 700px;
    height: 314px;
    top: -1100px;
    left: 0;
    z-index: -3;
    background: #FFF9FC;
}

.section-3 div:nth-of-type(2) p {
    text-align: center;
    margin-top: -92px;
    line-height: 22px;
}

/* секция 4 */

.section-4 img {
    position: relative;
}

.section-4 {
    height: 850px;
}

.section-4 div:nth-of-type(2) {
    height: 850px;
}

.section-4 div:nth-of-type(1) h1 {
font-size: 58px;
font-weight: 500;
text-align: center;
margin-top: -107px;
line-height: 64px;
}

.section-4 div:nth-of-type(2) #kubiki {
    top: -125px;
    z-index: -1;
}

.section-4 div:nth-of-type(2) #twohandred {
top: -945px;
left: 312px;
transition: all ease 1s;
}

#twohandred:hover {
    opacity: 0.5;
}

.section-4 div:nth-of-type(2) #onehandred {
    top: -1142px;
    left: 79px;
    transition: all ease 1s;
}

#onehandred:hover {
    opacity: 0.5;
}

.section-4 div:nth-of-type(2) #foureight {
    top: -1042px;
    left: -205px;
    transition: all ease 1s;
}

#foureight:hover {
    opacity: 0.5;
}

.section-4 div:nth-of-type(2) #thirtysix {
    top: -833px;
    left: 194px;
    transition: all ease 1s;
}

#thirtysix:hover {
    opacity: 0.5;
}

.section-4 div:nth-of-type(2) #twentyone {
    top: -845px;
    left: 256px;
    transition: all ease 1s;
}

#twentyone:hover {
    opacity: 0.5;
}

/* секция 5 */

.section-5 img {
    position: relative;
}

.section-5 #square5 {
    position: relative;
}

.section-5 #square6 {
    position: relative;
}

.section-5 #square7 {
    position: relative;
}

.section-5 #square7 {
    position: relative;
}

.section-5 #square8 {
    position: relative;
}

.section-5 #square9 {
    position: relative;
}

.section-5 {
    height: 3000px;
}

.section-5 div:nth-of-type(1) h1 {
font-size: 68px;
font-weight: 500;
margin-left: 253px;
margin-top: 8px;
}

.section-5 div:nth-of-type(1) h2 {
font-size: 58px;
font-weight: 700;
margin-left: 306px;
margin-top: 42px;
line-height: 64px;
}

.section-5 div:nth-of-type(1) h3 {
font-size: 58px;
font-weight: 600;
margin-top: 660px;
padding-right: 361px;
line-height: 64px;
text-align: right;
}

.section-5 div:nth-of-type(1) h4 {
font-size: 58px;
font-weight: 500;
margin-top: 470px;
padding-right: 90px;
line-height: 64px;
text-align: right;
}

.section-5 div:nth-of-type(1) h5 {
font-size: 58px;
font-weight: 400;
margin-top: 455px;
padding-right: 357px;
line-height: 64px;
text-align: right;
}

.section-5 div:nth-of-type(1) h6 {
font-size: 58px;
font-weight: 300;
margin-top: 504px;
padding-right: 88px;
line-height: 64px;
text-align: right;
}

.section-5 div:nth-of-type(2) #A {
top: -3239px;
}

.section-5 div:nth-of-type(2) #B {
    top: -4119px;
    left: 140px;
}

.section-5 div:nth-of-type(2) #C {
    top: -5188px;
}

.section-5 div:nth-of-type(2) #D {
    top: -6278px;
    left: 140px;
}

.section-5 div:nth-of-type(2) #E {
    top: -7307px;
}

.section-5 div:nth-of-type(2) #å {
    top: -10645px;
    left: 147px;
    mix-blend-mode: difference;
    transition: all ease 1s;
}

.section-5 #å:hover {
    transform: rotate(15deg);
}

.section-5 div:nth-of-type(2) #ç {
    top: -10072px;
    left: 121px;
    mix-blend-mode: difference;
    transition: all ease 1s;
}

.section-5 #ç:hover {
    transform: rotate(-15deg);
}

.section-5 div:nth-of-type(2) #é {
    top: -9463px;
    left: -174px;
    mix-blend-mode: difference;
    transition: all ease 1s;
}

.section-5 #é:hover {
    transform: rotate(15deg);
}

.section-5 div:nth-of-type(2) #ø {
    top: -9393px;
    left: 368px;
    mix-blend-mode: difference;
    transition: all ease 1s;
}

.section-5 #ø:hover {
    transform: rotate(-15deg);
}

.section-5 div:nth-of-type(2) #ñ {
    top: -8646px;
    left: -24px;
    mix-blend-mode: difference;
    transition: all ease 1s;
}

.section-5 #ñ:hover {
    transform: rotate(15deg);
}

#square5 {
    width: 300px;
    height: 314px;
    top: -11400px;
    left: 100px;
    z-index: -3;
    background: #FFF9FC;
}

#square6 {
    width: 300px;
    height: 314px;
    top: -11100px;
    left: 300px;
    z-index: -3;
    background: #FFF9FC;
}

#square7 {
    width: 300px;
    height: 314px;
    top: -10800px;
    left: 100px;
    z-index: -3;
    background: #FFF9FC;
}

#square8 {
    width: 300px;
    height: 314px;
    top: -10650px;
    left: 300px;
    z-index: -3;
    background: #FFF9FC;
}

#square9 {
    width: 300px;
    height: 314px;
    top: -10200px;
    left: 100px;
    z-index: -3;
    background: #FFF9FC;
}

.section-5 div:nth-of-type(2) #chelik {
    top: -11050px;
    left: -9px;
    transition: all ease 1s;
}

#chelik:hover {
    transform: rotate(5deg);
}

.section-5 div:nth-of-type(2) #arrow {
    top: -11431px;
    left: 371px;
}

/* секция 6 */

.section-6 img {
    position: relative;
}

.section-6 {
    height: 850px;
}

.section-6 p {
    position: relative;
}

.section-6 div:nth-of-type(1) h1 {
font-size: 99px;
font-weight: 500;
text-align: center;
margin-top: 248px;
line-height: 95px;
}

.section-6 div:nth-of-type(1) p {
    text-align: center;
    margin-top: 10px;
    line-height: 22px;
}

.section-6 div:nth-of-type(2) #star5 {
top: -400px;
left: 549px;
}

.section-6 div:nth-of-type(2) #star6 {
    top: -118px;
    left: -102px;
    transition: all ease 1s;
    z-index: 2;
}

.section-6 #star6:hover {
    transform: rotate(180deg);
}

.section-6 div:nth-of-type(3) #a {
font-size: 505px;
color: black;
top: -181px;
left: 0;
transition: all ease 0.7s;
}

#a:hover {
    opacity: 0.7;
}

.section-6 div:nth-of-type(3) #r {
font-size: 505px;
color: black;
top: -535px;
left: 210px; 
transition: all ease 0.7s;
}

#r:hover {
    opacity: 0.7;
}

.section-6 div:nth-of-type(3) #i {
font-size: 505px;
color: black;
top: -1133px;
left: 397px; 
transition: all ease 0.7s;
}

#i:hover {
    opacity: 0.7;
}

.section-6 div:nth-of-type(3) #arrow2 {
top: -1671px;
left: 295px;
}

.section-6 div:nth-of-type(3) #circle1 {
top: -1402px;
left: 78px;
}

.section-6 div:nth-of-type(3) #circle2 {
top: -1437px;
left: 179px;
}

.section-6 div:nth-of-type(3) #circle3 {
top: -1584px;
left: 88px;
}

/* секция 7 */

.section-7 img {
    position: relative;
}

.section-7 {
    height: 550px;
}

.section-7 p {
    position: relative;
}

.section-7 #t1 {
text-align: center;
margin-top: 34px;
line-height: 22px;
}

.section-7 #t2 {
    text-align: right;
    padding-top: 111px;
    padding-right: 40px;
line-height: 22px;
}

.section-7 #t3 {
line-height: 22px;
top: -71px;
padding-left: 39px;
}

.section-7 #t4 {
    text-align: center;
line-height: 22px;
margin-top: 68px;
}

.section-7 div:nth-of-type(2) #gran {
    top: -570px;
}

.section-7 div:nth-of-type(2) #scull {
    top: -393px;
    left: 5px;
}

.section-7 div:nth-of-type(2) #smileface2 {
    top: -860px;
    left: 485px;
}

.section-7 div:nth-of-type(2) #star7 {
    top: -475px;
    left: 294px;
}

.section-7 div:nth-of-type(2) #star8 {
    top: -465px;
    left: -418px;
}

/* секция 8 */

.section-8 img {
    position: relative;
}

.section-8 {
    width: 700px;
    height: 1500px;
    overflow: hidden;
}

.section-8 p {
    position: relative;
}

.section-8 #firabold {
    display: flex;
    top: -158px;
    left: -518px;
    rotate: 360deg;
    transform-origin: center;
    transition: all ease 12s;
}

#firabold:hover {
    transform: rotate(360deg);
}

.section-8 #firasemibold {
    display: flex;
    top: -1900px;
    left: -455px;
    opacity: 0.7;
    z-index: -3;
}


.section-8 #firamedium {
    display: flex;
    top: -3462px;
    left: -349px;
    opacity: 0.5;
    z-index: -4;
}

.section-8 #firaregular {
    display: flex;
    top: -4800px;
    left: -232px;
    rotate: 360deg;
    transform-origin: center;
    transition: all ease 12s;
}

#firaregular:hover {
    transform: rotate(360deg);
}

.section-8 #circle4 {
top: -6072px;
left: 377px;
}

.section-8 #countur1 {
    top: -5592px;
    left: -245px;
}

.section-8 #firaminireg {
    display: flex;
    top: -6090px;
    left: 92px;
    rotate: 360deg;
    transform-origin: center;
    transition: all ease 6s;
}

#firaminireg:hover {
    transform: rotate(360deg);
}

.section-8 #countur2 {
    top: -6440px;
    left: 210px;
}

.section-8 #countur3 {
    top: -6919px;
    left: 380px;
}

.section-8 #circle5 {
    top: -6732px;
    left: -210px;
}

/* секция 9 */

.section-9 img {
    position: relative;
}

.section-9 {
    width: 700px;
    height: 1500px;
}

.section-9 p {
    position: relative;
}

.section-9 div:nth-of-type(1) h1 {
font-size: 75px;
font-weight: 500;
letter-spacing: -1.5px;
padding-right: 41px;
margin-top: 39px;
text-align: right;
}

.section-9 div:nth-of-type(1) h2 {
font-size: 239px;
font-weight: 500;
margin-top: 240px;
text-align: center;
color: #FFF9FC;
transition: all ease 1s;
}

.section-9 h2:hover {
    opacity: 0.5;
}

.section-9 div:nth-of-type(1) p {
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
    color: #FFF9FC;
    line-height: 47px;
}

.section-9 div:nth-of-type(1) h3 {
font-size: 239px;
font-weight: 500;
margin-top: 57px;
text-align: center;
color: #FFF9FC;
transition: all ease 1s;
}

.section-9 h3:hover {
    opacity: 0.5;
}

.section-9 #oval {
    top: -1281px;
    left: 0;
    z-index: -1;
}

/* секция 10 */

.section-10 img {
    position: relative;
}

.section-10 {
    width: 700px;
    height: 1500px;
}

.section-10 p {
    position: relative;
    top: -190px;
    padding-bottom: 5px;
}

.section-10 div:nth-of-type(1) h1 {
font-size: 75px;
font-weight: 500;
text-align: center;
word-spacing: -30px;
letter-spacing: 1px;
margin-top: 89px;
padding-left: 12px;
line-height: 70px;
}

.section-10 div:nth-of-type(1) #r1 {
    word-spacing: -7px;
    text-align: center;
}

.section-10 div:nth-of-type(1) #r2 {
    word-spacing: -5px;
    text-align: center;
}

.section-10 div:nth-of-type(1) #r3 {
    text-align: left;
    padding-left: 44px;
    word-spacing: -6px;
}

.section-10 div:nth-of-type(1) #r31 {
    text-align: right;
    padding-right: 44px;
    top: -214px;
    word-spacing: -6px;
}

.section-10 div:nth-of-type(1) #r4 {
    text-align: left;
    padding-left: 44px;
    word-spacing: -6px;
    top: -214px;
}

.section-10 div:nth-of-type(1) #r41 {
    text-align: right;
    padding-right: 44px;
    top: -234px;
    word-spacing: -6px;
}

.section-10 div:nth-of-type(1) #r5 {
    text-align: left;
    padding-left: 44px;
    word-spacing: -9px;
    top: -234px;
}

.section-10 div:nth-of-type(1) #r51 {
    text-align: right;
    padding-right: 44px;
    top: -257px;
    word-spacing: -7px;
}

.section-10 div:nth-of-type(1) #r6 {
    text-align: left;
    padding-left: 44px;
    word-spacing: -6px;
    top: -257px;
}

.section-10 div:nth-of-type(1) #r61 {
    text-align: right;
    padding-right: 44px;
    top: -279px;
    word-spacing: -6px;
}

.section-10 div:nth-of-type(1) #r7 {
    text-align: left;
    padding-left: 44px;
    word-spacing: -7px;
    letter-spacing: -0.3px;
    top: -279px;
}

.section-10 div:nth-of-type(1) #r71 {
    text-align: right;
    padding-right: 44px;
    top: -301px;
    word-spacing: -6px;
}
.section-10 div:nth-of-type(1) #r8 {
    text-align: left;
    padding-left: 44px;
    word-spacing: -7px;
    top: -301px;
}

.section-10 div:nth-of-type(1) #r81 {
    text-align: right;
    padding-right: 44px;
    top: -323px;
    word-spacing: -6px;
}

.section-10 div:nth-of-type(1) #r9 {
    text-align: left;
    padding-left: 44px;
    word-spacing: -8px;
    letter-spacing: -0.2px;
    top: -323px;
}

.section-10 div:nth-of-type(1) #r91 {
    text-align: right;
    padding-right: 44px;
    top: -345px;
    word-spacing: -6px;
}

.section-10 div:nth-of-type(1) #r10 {
    text-align: center;
    top: -346px;
    word-spacing: -5px;
}

.section-10 div:nth-of-type(1) #r11 {
    text-align: center;
    top: -346px;
    word-spacing: -4px;
}

.section-10 div:nth-of-type(1) #r12 {
    text-align: center;
    top: -346px;
    word-spacing: -5px;
}

.section-10 div:nth-of-type(2) #star9 {
    top: -810px;
}

.section-10 div:nth-of-type(2) #star10 {
    top: -448px;
    left: 457px;
    transition: all ease 1s;
}

.section-10 #star10:hover {
    transform: rotate(180deg);
}

/* секция 11 */

.section-11 img {
    position: relative;
}

.section-11 {
    width: 700px;
    height: 1500px;
}

.section-11 p {
    position: relative;
    font-size: 26px;
    font-weight: 500;
    text-align: left;
    line-height: 35px;
    word-spacing: -1px;
    color: #FFF9FC;
    rotate: -14deg;
    top: -1111px;
    left: 165px;
}

.section-11 h1 {
    position: relative;
    font-size: 34px;
    font-weight: 600;
    text-align: left;
    line-height: 45px;
    color: #FFF9FC;
    rotate: 19deg;
    top: -920px;
    left: 420px;
    transition: all ease 1s;
}

.section-11 h1:hover {
    opacity: 0.5;
}

.section-11 h2 {
    position: relative;
    font-size: 34px;
    font-weight: 600;
    text-align: left;
    line-height: 45px;
    color: #FFF9FC;
    rotate: -8deg;
    top: -946px;
    left: 293px;
    transition: all ease 1s;
}

.section-11 h2:hover {
    opacity: 0.5;
}

.section-11 h3 {
    position: relative;
    font-size: 34px;
    font-weight: 600;
    text-align: left;
    color: #FFF9FC;
    rotate: 9deg;
    top: -719px;
    left: 392px;
    transition: all ease 1s;
}

.section-11 h3:hover {
    opacity: 0.5;
}

.section-11 #list1 {
    top: -2080px;
    left: 80px;
    z-index: -3;
}

.section-11 #list2 {
    top: -2544px;
    left: 220px;
    z-index: -2;
}

.section-11 #book {
    top: -3002px;
    left: -1px;
    z-index: -2;
}

.section-11 #list3 {
    top: -3302px;
    left: 290px;
    z-index: -3;
}

.section-11 #list4 {
    top: -3175px;
    left: -180px;
    z-index: -3;
}

.section-11 #list5 {
    top: -3302px;
    left: 353px;
    z-index: -3;
}

/* секция 12 */

.section-12 img {
    position: relative;
}

.section-12 {
    width: 700px;
    height: 1500px;
}

.section-12 p {
    font-size: 21px;
    letter-spacing: -0.4px;
    position: relative;
    top: -1207px;
    left: 71px;
}

.section-12 #r13 {
    font-weight: 600;
}

.section-12 #r14 {
    font-weight: 500;
    top: -1202px;
}

.section-12 #r15 {
    font-weight: 400;
    top: -1223px;
    left: 170px;
}

.section-12 #r16 {
    font-weight: 500;
    top: -1217px;
}
.section-12 #r17 {
    font-weight: 400;
    top: -1211px;
}

.section-12 #r18 {
    font-weight: 500;
    top: -1232px;
    left: 120px;
}

.section-12 #r19 {
    font-weight: 400;
    top: -1225px;
}

.section-12 #spirals1 {
    top: -1488px;
    left: 266px;
    z-index: -2;
}

.section-12 #spirals2 {
    top: -1228px;
    left: 266px;
    z-index: -2;
}

.section-12 #spirals3 {
    top: -1670px;
    left: 310px;
    transition: all ease 1s;
}

.section-12 #spirals3:hover {
    transform: rotate(15deg);
}

.section-12 #hand {
    top: -1798px;
    left: 61px;
    z-index: -1;
}

