/* общие стили для страницы */

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 700px;
    display: grid;
    place-items: center;
    margin: 0 auto;
    font-family: "Fira Code";
}
img {
    display: block;
}
p {
    font-size: 17px;
    color: #822300;
}
h1 {
    color: #822300;
    font-size: 96px;
}

/* стили для fira.html */

#fira {
    overflow-x: hidden;
}
#fira section {
    width: 700px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
}
#fira section div {
    width: 48%;
    display: block;
}
#fira h1 {
    margin: 71px 342px auto 39px;
    width: 100%;
    font-weight: 500;
    font-size: 96px;
    line-height: 96px;
}
#fira p {
    margin: 5px 394px auto 43px;
    width: 263px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}

/* стили для задних изображений */

#fira img {
    /* width: 322px; */
    /* margin: 0 auto; */
    display: block;
}
#firstSection .glif {
    width: 322px;
}
#firstSection .divheadstar {
    width: 517px;
}
#firstSection .textdif {
    width: 374px;
}
#firstSelection .ASSCii {
    width: 292px;
}